@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body {
    font-family: 'IBM Plex Mono', monotype;
    background-color: #111111;
    color: #ffffff;
    margin: 20px 40px;
}

*, :after {
    box-sizing: border-box;
}

div {
    width: 100%;
    display: block;
    overflow-x: hidden;
}

.title {
    padding-top: 20px;
}

#main-subpage .content {
    /* padding-top: 62px; */
}

#main-subpage .subcontent {
    display: block;
}

#main-subpage .descrip {
    margin-top: 10%;
    display: inline-block;
    float: left;
    width: 20%;
    font-size: 1rem;
}

/* #main-subpage .descrip a {
    font-size: 1rem;
} */

#about {
    /* padding-top: 62px; */
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-right: 10px;
    margin-top: 0;
    /* text-shadow: 2px 2px #34BC6E; */
}

#main-subpage h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

ul li {
    margin-top: 10px;
}

a {
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

h2 a {
    font-size: 2.5rem;
    font-weight: 700;
}

a:hover {
    text-decoration: white underline;
}

ul li a {
    position: relative;
    padding: 0px 10px 0px 0px;
}

.link:after {
    content: "";
    display: block;
    bottom: 8px;
    position: absolute;
    left: 100%;
    width: 100vw;
    border-bottom: 1px dashed #ffffff;
}

.section:after {
    content: "";
    display: block;
    bottom: 8px;
    position: absolute;
    background: #ffff;
    left: 100%;
    width: 100vw;
    height: 1px;
}

.name {
    margin-bottom: 0;
}

.name:after {
    content: "";
    display: block;
    bottom: 12px;
    position: absolute;
    background: #ffff;
    left: 100%;
    width: 100vw;
    height: 2px;
}

#connect p {
    padding-bottom: 0;
}

.preview {
    display: none;
    margin-top: 20px;
}

#main-subpage .preview {
    float: right;
    display: inline-block;
    width: 75%;
    /* max-width: 1000px; */
    position: relative;
    margin: 30px auto;
    text-align: center;
    left: auto;
    transform: none;
}

#main-subpage .subpreview {
    height: 90%;
    width: auto;
    top: 10px;
}

.preview a {
    font-size: 1rem;
}

.preview p {
    font-size: 1rem;
    font-style: italic;
}

#about p {
    font-style: italic;
}

#main-subpage .mobile {
    padding-top: 10px;
    width: 50%;
}


/* img {
    width: 100%;
} */

.show {
    display: block;
}

.slides {
    height: 500px;
    display: none;
}

.slides:first-of-type {
    display: block;
}


.next {
    height: 60px;
    right: 0;
}

.prev {
    left: 0;
    height: 60px;
    transform: scaleX(-1);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    transition: 0.6s ease;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(17,17,17,0.8);
}

.dots {
    text-align: center;
}

.text {
    /* padding: 8px 12px; */
    position: absolute;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.scrollimage {
    width: 100%;
}

.scrolling {
    height: 70vh;
    overflow-y: scroll;
}

@media only screen and (max-width:600px) {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,300&display=swap');
    
    body {
        font-family: 'IBM Plex Mono', monotype;
        margin: 30px;
    }

    h2 {
        font-size: 2rem;
        margin: 10px 0px;
    }

    .title {
        padding-top: 0px;
    }

    #main-subpage .descrip {
        margin-top: 10%;
        display: block;
        float: none;
        width: 100%;
        font-size: 1.25rem;
    }

    .scrolling {
        height: auto;
    }

    #main-subpage h2 a {
        font-size: 2rem;
    } 

    h3 {
        font-size: 1.5rem;
    }

    #main-subpage h3 {
        display: inline;
        font-size: 1rem;
    } 

    ul li {
        margin: 20px 0px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    #main-subpage .preview {
        width: 100%;
        left: 0%;
        transform: translate(0%, 0%); 
    }

    .preview p {
        font-size: .75rem;
    }

    img {
        width: 100%;
    }

    .section:after {
        left: 0%;
        bottom: -8px;
    }

    .link:after {
        left: 0%;
        bottom: -10px;
    }

    .name:after {
        display: none;
    }
}