@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

body {
    font-family: 'Xanh Mono', monospace;
    background-color: #111111;
    /* color: #ffffff; */
    /* box-sizing: border-box;  */
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.first {
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
}

.second {
    display: none;
    background: #CC062D;
    color: #ffffff;
    /* border: 1px solid #CC062D; */
    height: 248px;
    width: 248px;
}

.description {
    /* display: none; */
    padding: 0 85px;
    font-size: 1rem;
}


#work {
    background: #ffffff;
    color: #CC062D;
}

#work h1, h2 {
    cursor: pointer;
}

#about {
    align-content: center;
    /* flex-wrap: nowrap; */
    border-radius: 0;
    background: #CC062D;
    color: #ffffff;
}

.show {
    display: flex;
}

.remove {
    display: none;
}

.hide {
    /* visibility: hidden; */
    background: #111111 !important;
}

h1 {
    /* text-align: right; */
    /* padding: 25px; */
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}