@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

html {
    font-family: 'IBM Plex Mono', monotype;
    font-size: 16px; 
}

.container {
    display: grid;
    grid-template-columns: [left-edge] 4px [line1] 140px [line2] 140px [line3] auto [line4] auto [line5] 12px [right-edge];
    grid-template-rows: [header-start] auto [header-end menu-start] auto [menu-end  proj1-start] auto [proj1-end proj2-start] auto [proj2-end proj3-start] auto [proj3-end proj4-start] auto [proj4-end proj5-start] auto [proj5-end proj6-start] auto [proj6-end proj7-start] auto [proj7-end proj8-start] auto [proj8-end footer-start] auto [footer-end];
    column-gap: 16px;
    row-gap: 16px;
}

body {
    color: #111111;
    /* margin: 24px; */
    text-transform: uppercase;
}

h2, h3, h4, h5 {
    font-size: 1rem;
    font-weight: 400;
}

h2 {
    font-weight: 700;
}

span {
    font-weight: 700;
}

a {
    color: #111111;
    text-decoration: none;
}

.menu a {
    padding: 16px 16px 12px 16px;
    white-space: preserve nowrap;
    margin-right: -10px;
}

/* #UXUI-link {
    border-left: 1px #111111 solid;
} */

/* #dataviz-link {
    border-left: 1px #111111 solid;
    border-right: 1px #111111 solid;
} */

.current {
    border-left: 1px #111111 solid;
    border-right: 1px #111111 solid;
    border-bottom: 1px solid #ffffff;
    border-top: 1px #111111 solid;
}

/* 
.UXUI {
    background-color: #FED500;
}

.dataviz {
    background-color: #33B1FF;
}

.editorial {
    background-color: #56B964;
} */

a:hover {
    text-decoration: underline;
}

.body > a {
    text-decoration: underline;
}

*, :after {
    box-sizing: border-box;
}

.header {
    grid-column-start: line1;
    grid-column-end: line5;
    grid-row-start: header-start;
    grid-row-end: header-end;
    /* border-bottom: 1px solid #111111; */
    padding-bottom: 16px;
}

.menu {
    grid-column-start: line1;
    grid-column-end: line5;
    grid-row-start: menu-start;
    grid-row-end: menu-end;
    padding-bottom: 12px;
    border-bottom: 1px solid #111111;
}

.project {
    grid-column-start: line1;
    grid-column-end: line5;
    display: grid;
    grid-template-columns: subgrid;
    margin-bottom: 12px;
    padding: 12px;
    border-bottom: 1px solid #111111;
}

.project1 {
    grid-row-start: proj1-start;
    grid-row-end: proj1-end;
}

.year {
    grid-column-start: line2;
    grid-column-end: line3;
    font-weight: 300;
}

.client {
    grid-column-start: line1;
    grid-column-end: line2;
}

.name-description {
    grid-column-start: line3;
    grid-column-end: line5;
}

.projectname {
    font-weight: 500;
}

.body {
    grid-column-start: line1;
    grid-column-end: line5;
    text-transform: none;
}

.project2 {
    grid-row-start: proj2-start;
    grid-row-end: proj2-end;
}

.project3 {
    grid-row-start: proj3-start;
    grid-row-end: proj3-end;
}

.project-images {
    grid-column-start: line1;
    grid-column-end: line5;
    height: 600px;
    display: flex;
    align-items: center;
    margin: 12px 0;
    overflow-x: scroll;
}

.scrollimage {
    height: 100%;
    margin-right: 12px;
}

.gif {
    height: 85%;
}

p {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:800px) {

    .container {
        margin: 0;
        grid-template-columns: [left-edge] 12px [line1] auto [line2] auto [line3] auto [line4] auto [line5] 12px [right-edge];
        grid-template-rows: [header-start] auto [header-end menu-start] auto [menu-end  proj1-start] auto [proj1-end proj2-start] auto [proj2-end proj3-start] auto [proj3-end proj4-start] auto [proj4-end proj5-start] auto [proj5-end proj6-start] auto [proj6-end proj7-start] auto [proj7-end proj8-start] auto [proj8-end footer-start] auto [footer-end];
    }

    .year {
        grid-column-start: line1;
        grid-column-end: line5;
        font-weight: 300;
    }

    .client {
        grid-column-start: line1;
        grid-column-end: line5;
    }

    .name-description {
        grid-column-start: line1;
        grid-column-end: line5;
    }


    .project {
        margin: 0;
        padding: 0 0 12px 0;
    }

    .projectname {
        font-weight: 500;
    }

    .project-images {
        height: 180px;
    }

    .body {
        grid-column-end: line5;
    }

    .gif {
        height: 100%;
    }
}